.hero-area{
    background-image: url('../image/Overlay.png');
    background-position: center;
    background-size: cover;
}

.slider-part {
    width: 785px;
    margin: auto;
    align-items:center ;
}

.slider-part img {
    width: 260px;
    height: 260px;
    margin-right: 46px;
    border-radius: 50%;
}